body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input{
  width:200px;
}

h1{
  text-align:center;
  font-family:Sriracha;
  font-size:50px;
  margin-top:10px;
}

footer{
  font-family:Sriracha;
  font-size:20px;
  text-align:right;
  margin-bottom:0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
